@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;700&display=swap');

:root{
    --preto: black;
    --marrom: #702718;
    --rosa-claro: #ffc1c4;
    --rosa-escuro: #ce797e;
    --sombra: rgba(0, 0, 0, 0.5);
    --vermelho-padrao: #91040a;
    --vermelho-claro: #c4373d;
}

html{
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    width: 100vw;

    font-family: 'Dosis', sans-serif;
    background-color: var(--rosa-claro);
    color: var(--marrom);
}

.navbar{
    background-color: var(--marrom);
    color: var(--rosa-claro);
    padding: .5rem 2rem;
}

.navbar-nav li{
    padding-left: 1rem;
}

.nav-link{
    font-size: 1.5rem;
}

.carousel-inner img{
    width: 100%;
    height: 100%;
}

.carousel-caption h1{
    font-size: 5rem;
    text-transform: uppercase;
    text-shadow: .1rem .1rem 1rem var(--preto);
    background-color: var(--sombra);    
}


.duas-colunas{ 
    padding: 2rem 0;
}

.duas-colunas, .card, footer{ 
    font-size: 1.5rem;
}

hr{
    border-color: var(--rosa-escuro);
}

.card{
    border-color: var(--marrom);
    margin: 1rem 0;
}

.card-body{
    background-color: var(--rosa-claro);
}

.btn-outline-secondary{
    color: var(--marrom);
    border-color: var(--marrom);
    transition: .7s;
}

.btn-outline-secondary:hover{
    background-color: var(--marrom);
    border-color: var(--marrom);
    color: var(--rosa-claro);
    transition: .7s;
}

.social a{
    font-size: 5rem;
    padding: 3rem;
}

.fa-facebook, .fa-instagram, 
.fa-tiktok, .fa-youtube{
    color: var(--vermelho-padrao);
    transition: .7s;
}

.fa-facebook:hover, .fa-instagram:hover, 
.fa-tiktok:hover, .fa-youtube:hover{
    color: var(--vermelho-claro);
    transition: .7s;
}

footer{
    background-color: var(--marrom);
    color: var(--rosa-claro);
    padding: 2rem 0 1rem 0;
}
